:root {
    --padding-standard: 4px;
    --border-radius-standard: 10px;
}

.soundboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 145px);
    justify-content: center;
    gap: var(--padding-standard);
    padding: var(--padding-standard);
    background-color: var(--background-primary);
}

.soundboard-sound {
    container: sb-sound / size;
    position: relative;
    width: 145px;
    height: 145px;
    border: 2px solid var(--interactive-accent);
    border-radius: var(--border-radius-standard);
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-secondary);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.soundboard-sound:hover {
    transform: scale(1.05);
    border: 2px solid var(--interactive-accent-hover);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.soundboard-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Use full width of parent */
    height: 100%; /* Use full height of parent */
    padding: 0; /* Remove any padding */
    overflow: hidden; /* Ensure image doesn't overflow */
    position: relative; /* Position relative for absolute positioning of image if needed */
}

.soundboard-image-container > img.soundboard-image {
    display: block; /* Ensure it is treated as a block element */
    max-width: 100%; /* Ensure it does not exceed container width */
    max-height: 100%; /* Ensure it does not exceed container height */
    object-fit: cover; /* Cover the container without distortion */
    border-radius: var(--border-radius-standard); /* Apply border radius */
}
